.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
out_seqs
*named_peptides_9.fasta*
*.DS_Store*
data_from_kevin/.DS_Store
20201125_TM2_PepSeq_peptides_AE_selected.csv
20201125_TM2_PepSeq_peptides_AE_selected.xlsx
analysis/R/TM2_run002_annotated_peptides_with_counts.csv
analysis/R/annotated_peptides_with_counts.csv.zip
analysis/bash/library_design/DeepLearning_model_R_1539970074840_1_20181019
analysis/bash/library_design/best_encodings
analysis/bash/library_design/best_encodings_with_dups
analysis/bash/library_design/codon_weights.csv
analysis/demux/TM2_run002/
analysis/demux/counts.tsv
design_outs/TM2_coded.fna
